@tailwind base;
@tailwind components;
@tailwind utilities;

.pretty-scroll {
  scrollbar-color: transparent transparent;
  transition-delay: 1s;


  &:hover {
    scrollbar-color: #B3B3B3 transparent;
    transition-delay: 0s;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #B3B3B3;
    border-radius: 100%;
  }
}