@tailwind base;
@tailwind components;
@tailwind utilities;

.pretty-scroll {
  scrollbar-color: transparent transparent;
  transition-delay: 1s;

  &:hover {
    scrollbar-color: #6A6A6A transparent;
    transition-delay: 0s;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #6A6A6A;
    border-radius: 100%;
  }
}