@tailwind base;
@tailwind components;
@tailwind utilities;

.pretty-scroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &:hover {
    scrollbar-color: #B3B3B3 transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #B3B3B3;
    border-radius: 100%;
  }
}